.scrollup {
    position: fixed;
    right: 10%;
    bottom: -20%;
    background-color: var(--blue-500);
    opacity: 0.8;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    z-index: 10;
    transition: 0.4s;

    &:hover {
        background-color: var(--blue-600);
    }

    &__icon {
        font-size: 1.3rem;
        color: hsl(0, 0%, 100%);
    }
}

.show-scroll {
    bottom: 5rem;
}
