::-webkit-scrollbar {
    width: 0.6rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 71%);
    border-radius: 0.5rem;
}
