@use '../util/' as u;

.about {
    &__container {
        margin-top: 2rem;
        @include u.breakpoint(medium) {
            grid-template-columns: 1fr 2fr;
            margin-top: 5rem;
        }
    }
    &__img {
        border-radius: 0.5rem;

        @include u.breakpoint(medium) {
            width: u.rem(350);
        }
    }

    &__data {
        // text-align: center;

        @include u.breakpoint(medium) {
            align-self: center;
        }
    }

    &__title--dot {
        color: var(--accent-color);
        font-size: u.rem(30);

        @include u.breakpoint(large) {
            font-size: u.rem(60);
        }
    }

    &__title,
    &__subtitle,
    &__description {
        margin-bottom: u.rem(0);
    }

    &__subtitle {
        margin-bottom: u.rem(-8);

        @include u.breakpoint(medium) {
            margin-bottom: u.rem(-5);
        }

        @include u.breakpoint(large) {
            margin-bottom: u.rem(-10);
        }
    }

    &__description {
        color: var(--light-color);
        font-size: u.rem(14);
        text-align: justify;
        margin-top: u.rem(10);
    }
}
