@use '../util/' as u;

.contact {
    &__container {
        row-gap: 3rem;
    }

    &__information {
        display: flex;
        margin-bottom: 2rem;
    }

    &__icon {
        margin-block: auto;
        font-size: 2rem;
        color: var(--accent-color);
        margin-right: 0.75rem;
        margin-left: 0.25rem;
    }

    &__data {
        flex-direction: column;
        justify-content: space-between;
        padding-block: u.rem(2);
    }

    &__title {
        font-weight: 600;
    }

    &__subtitle {
        font-size: u.rem(14);
        color: var(--light-color);
    }

    &__title,
    &__subtitle {
        margin: 0;
    }

    &__content {
        background-color: hsl(0, 0%, 95%);
        border-radius: 0.5rem;
        padding: 0.75rem 1rem 0.25rem;
    }

    &__label {
        font-size: u.rem(14);
    }

    &__input {
        width: 100%;
        background-color: #f2f2f2;
        color: var(--light-color);
        font-size: u.rem(14);
        font-family: u.$font;
        border: none;
        outline: none;
        padding: 0.25rem 0.5rem 0.5rem 0;
        resize: none;
    }
}
