@use '../util' as u;

.container {
    margin: 0 auto;
    width: min(90%, u.rem(540));

    @include u.breakpoint-up(sm) {
        width: min(90%, u.rem(720));
    }

    @include u.breakpoint-up(md) {
        width: min(90%, u.rem(960));
    }

    @include u.breakpoint-up(lg) {
        width: min(90%, u.rem(1140));
    }

    @include u.breakpoint-up(xl) {
        width: min(90%, u.rem(1320));
    }
}
