@use '../util/' as u;

section {
    padding-block: 10rem 8rem;
}

.section__title {
    text-align: center;
    color: var(--blue-500);
    font-size: 1.5rem;
}

.section__subtitle {
    text-align: center;
    color: var(--gray-600);

    @include u.breakpoint-down(md) {
        font-size: u.rem(16);
    }
}
